@import "tailwindcss";

:root {
    /* --primary-color: #100F0F;
    --secondary-color: #6A6A6A;
    --tertiary-color: #FFFFFF;
    --quaternary-color: #000000;
    --quinary-color: #000000;
    --senary-color: #000000;
    --septenary-color: #000000;
    --octonary-color: #000000;
    --nonary-color: #000000;
    --denary-color: #000000; */
}

@theme {
    --color-background: #ffffff;
    --color-background-dark: #100F0F;
    --color-primary: #100F0F;
    --color-primary-dark: #FFFFFF;
    --color-secondary: #6A6A6A;
    --color-secondary-dark: #6A6A6A;
    --color-tertiary: #3E634F;
    --color-tertiary-dark: #3E634F;
}